@{
    ViewData["Title"] = "Home Page";
}



    <div class="row main-row">

            <div class="col-sm-12 main-left col-md-7">
                <div class="col-sm-12 main-con">
                    <h1>ShopTime</h1>
                    <h2>The best queue is no queue!</h2>
                    <br />
                    <p>We at ShopTime believe that your safety is the number one priority!</p>
                    <p>ShopTime allows you to not waste time and stay safe by holding the line for you!</p>
                </div>   
            </div>

            <div class="main-right col-md-5 d-none d-md-block  d-lg-block d-xl-block">
                <div class="mainImg"></div>
            </div>

    </div>


