@{
    ViewData["Title"] = "Home Page";
}

<div class="Main-con container">

    <div class="row">
        <div class="col-sm-12">


            <h1>Welcome!</h1>
        </div>

    </div>



</div>
