@{
    ViewData["Title"] = "Home Page";
}

<div class="Main-con container">

    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-12 main">
                <h1>Welcome!</h1>

                <p>We handle the wait so that you don't have to!</p>
            </div>
        </div>

    </div>



</div>
